<!DOCTYPE html>

  <head>
    <title>Situo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  </head>

    <script>
          window.logoWhite = "<%= image_url('situo-logo-white.png') %>";
          window.logoBlack = "<%= image_url('situologo2.png') %>";
          window.tiktok = "<%= image_url('tiktok.jpg') %>";
          window.spacex = "<%= image_url('spacex.png') %>";
          window.theonion = "<%= image_url('theonion.png') %>";
          window.reddit = "<%= image_url('reddit.jpg') %>";
          window.appacademy = "<%= image_url('appacademy.png') %>";
          window.wfmu = "<%= image_url('wfmu.png') %>";
          window.npr = "<%= image_url('npr.png') %>";
          window.mailgrey = "<%= image_url('mailgrey.png') %>";
          window.mailblue = "<%= image_url('mailblue.png') %>";
          window.splashVid = "<%= video_url('tasklist.mp4') %>"
     </script>
    

    <%= yield %>
